.btn {
  height: 50px;
  min-width: 100px;
  line-height: 50px;
  margin: 0px;
  padding: 0 15px 0 15px;
  box-shadow: none;
}

.btn-primary {
  &:hover, &:focus, &:active {
	background: #fff;
	color: @brand-primary;
	border-color: @brand-primary;
  }
}

.btn-secondary {
  .btn-default;
  &:hover {
	background: #fff;
	color: @gray-dark;
	border-color: @gray-dark;
  }
}

.btn-link {
  min-width: 0;
  &:hover {
	color: @brand-primary;
  }
}
